#hero {
    background: var(--primary-color);
    color: var(--secondary-color);

    .container {
        h3 {
            font-size: var(--font-h3);
            font-family: var(--secondary-font);
            letter-spacing: -0.003em;

            // &::after {
            //     content: " |";
            //     animation: blink 0.8s infinite;
            //     color: var(--secondary-color);
            // }
        }

        h1 {
            font-size: var(--font-h1);
            font-family: var(--primary-font);
            letter-spacing: -0.02em;
        }

        .items {
            .social-links {
                a {
                    background: var(--secondary-color-low-opacity);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    border: 1px solid rgba(240, 237, 228, 0.2);
                    color: var(--secondary-color);
                    transition: all 0.3s ease-in-out;
                    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.144);

                    &:hover {
                        background: transparent;
                        transform: scale(1.05) rotate(15deg) translateY(-3px);
                    }
                }
            }

            .contact-btn {
                background: var(--secondary-color-low-opacity);
                // text-transform: uppercase;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border: 1px solid rgba(240, 237, 228, 0.3);
                color: var(--secondary-color);
                font-family: var(--secondary-font);
                font-size: var(--font-h6);
                border-radius: 8px;
                margin-top: 6px;
                transition: all 0.3s ease-in-out;
                box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.144);

                &:hover {
                    background: transparent;
                    transform: scale(1.05) translateY(-3px);
                }
            }
        }
    }

    .scroll-down {
        span {
            font-family: var(--secondary-font);
            letter-spacing: 0.1em;
        }
    }
}

@media (max-width: 1024px) {
    #hero {
        .container {
            h3 {
                font-size: var(--font-h4);
            }
            h1 {
                font-size: var(--font-h2);
            }
        }
    }
}

@media (max-width: 768px) {
    #hero {
        .container {
            h3 {
                font-size: var(--font-h4);
            }
            h1 {
                font-size: var(--font-h2);
            }
            .items {
                .contact-btn {
                    width: 70%;
                    margin-top: 16px;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    #hero {
        .container {
            h3 {
                font-size: var(--font-h5);
            }
            h1 {
                font-size: var(--font-h3);
            }

            .items {
                .contact-btn {
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #hero {
        .container {
            h3 {
                font-size: var(--font-h5);
            }
            h1 {
                font-size: var(--font-h4);
            }

            .items {
                .social-links {
                    a {
                        transform: scale(0.9);
                    }
                }

                .contact-btn {
                    width: 80%;
                }
            }
        }
    }
}



// @keyframes blink {
//   0%, 50% { opacity: 1; }
//   50.1%, 100% { opacity: 0; }
// }